body {
	background-color:#111;
	color:#8ad213;
	font-family:'Monaco', sans-serif;
	font-size:16px;
}

a:visited{
  color:#94ba05;
}

.cursor {
	background-color:#94ba05;
}

.cursor-blur {
	border: 1px solid #94ba05;
}

